version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    container_name: market-postgres
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: marketdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d marketdb"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
